:root {
    --main-color: cadetblue;
    --secondary-color: #061225;
    --background-color: white;
    --border-radius: 10px;
    --box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
}

* {
    font-family: 'Raleway', sans-serif;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: rgb(176, 176, 177);
    overflow-y: hidden;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 0px;
    border: 3px solid var(--secondary-color);
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.layer-control {
    position: absolute;
    top: 90px;
    left: 15px;
    z-index: 2000;
}

.leaflet-routing-container {
    padding: 0.5em;
    border: none;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.leaflet-popup-scrolled {
    height: max-content;
}

#map {
    width: 100%;
    height: 91.5%;
    padding: 0;
    margin: 0;
    margin-top: 4.5em;
}

.leaflet-control-layers-toggle {
    background-color: var(--main-color);
    border-radius: 10px;
}

.leaflet-control-layers {
    border-radius: 14px;
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
    background-image: url('../../../../images/routing-icon.png') !important;
}

header {
    width: 96%;
    height: 2.5em;
    display: flex;
    background-color: var(--main-color);
    padding: 0.5em 2em;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0;
    z-index: 2300;
}

header> :first-child {
    width: 30%;
    display: flex;
    align-items: center;
}
header> :first-child>a {
    width: 25%;
}

header> :first-child>a>img {
    width: 100%;
}

header> :first-child>h4 {
    margin-left: 2em;
    color: var(--background-color);
}

header> :first-child,
header> :last-child {
    display: flex;
    flex-wrap: nowrap;
}

header> :last-child > :last-child {
    display: flex;
    align-items: center;
}

header> :last-child > :last-child > img {
    width: 25px;
    margin-left: 1em;
}

.button {
    border: none;
    border-radius: var(--border-radius);
    padding: 1em 2em;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: var(--background-color);
    background-color: var(--secondary-color) !important;
}

.box-shadow {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.button-control{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
}

.button-control:hover{
    cursor: pointer;
}

.button-control > img {
    width: 90%;
}

.help-button {
    width: 2.3em;
    display: flex;
    justify-content: center;
    margin-left: 2em;
}

.help-button:hover {
    transform: scale(1.1);
}

.help-button>img {
    height: 99%;
    align-self: center;
}

.help-button :hover {
    cursor: pointer;
}

.label-marker {
    font-size: 1.5em;
}

.selected {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.collapse-button:hover{
    cursor: pointer;
}

.background-message {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    z-index: 2600;
}

.message-container {
    width: 300px;
    max-height: 400px;
    position: absolute;
    z-index: 3000;
    top: 253px;
    left: 40%;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 1em;
}

#close-btn {
    text-align: end;
    margin-top: 0px;
    font-weight: bold;
}

#close-btn:hover{
    cursor: pointer;
}

.success {
    background-color: #b6e69a;
    border-color: #557841;
}

.success > :first-child {
    color: #557841;
}

.rejected {
    background-color: #e6acb4;
    border-color: #592e34;
}

.rejected > :first-child {
    color: #592e34;
}

button[type="submit"] {
    background-color: #557841;
}

button[type="reset"] {
    background-color: #592e34;
}

.options-toggle {
    position: absolute;
    top: 55px;
    z-index: 2000;
    background-color: var(--main-color);
    opacity: 0.9;
    border-radius: 0px 0px 10px 10px;
    right: 0;
    width: 12em;
    padding: 1em 1em 1em 1.5em;
}

.options-toggle > a{
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
    color: white !important;
    text-decoration: none;
    justify-content: flex-start;
    font-size: 0.9em;
}

.options-toggle > a:hover{
    transform: scale(1.05);
}

.loading-message {
    background-color: #ffffff;
    opacity: 0.8;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 30px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.hidden {
    display: none;
}

@media (min-width: 1586px) {
    #map {
        height: 94.5%;
    }

    .leaflet-routing-container {
        height: max-content;
        width: 100%;
        overflow-y: scroll;
    }

    header{
        width: 96.8%;
    }
    
    header> :first-child>a {
        width: 20%;
    }

    header> :first-child>img {
        width: 20%;
    }

    header> :first-child>img {
        width: 30%;
    }

    *::-webkit-scrollbar,
    *::-webkit-scrollbar-track,
    *::-webkit-scrollbar-thumb {
        visibility: hidden;
    }

    .message-container {
        top: 40%;
        left: 35%;
        width: 25%;
    }
}

/* Mobile responsive */
@media (max-width: 768px) {
    #map {
        height: 94%;
    }

    body {
        position: absolute;
    }

    header {
        padding: 0.6em 0.8em 0.6em 0.8em;
        justify-content: space-between;
        align-items: center;
    }

    header> :first-child {
        display: flex;
        width: 25%;
        align-items: center;
        justify-content: space-around;
    }

    .menu-toggle {
        width: 55%;
        background-color: var(--main-color);
        position: absolute;
        opacity: 0.9;
        top: 3.701em;
        height: 82vh;
        z-index: 2000;
        padding: 1em;
    }

    .menu-toggle>h3 {
        font-size: 1.5em;
        margin: 0.5em 1em 1.5em 0.5em;
        color: var(--background-color);
        font-weight: bold;
    }

    .menu-toggle> ul {
        padding: 1em;
    }

    .menu-toggle> :nth-child(2)>li {
        height: 2em;
        list-style: none;
        font-size: 1.2em;
    }

    .menu-toggle> :last-child,
    .menu-toggle> :last-child> :first-child {
        color: #e0dfdf !important;
    }

    .menu-toggle> :last-child> :first-child {
        padding: 1em;
        font-size: 1.1em;
        text-decoration: underline;
    }

    .menu-toggle> :last-child {
        font-size: 0.8em;
        color: #e0dfdf;
        align-self: flex-end;
    }

    a {
        text-decoration: none;
    }

    .button {
        padding: 0.5em;
        width: 80%;
        background-color: var(--secondary-color);
        color: var(--background-color);
    }

    .help-button {
        width: 8%;
        display: flex;
        margin-left: 1em;
    }

    .leaflet-control-zoom {
        display: none;
    }

    *::-webkit-scrollbar,
    *::-webkit-scrollbar-track,
    *::-webkit-scrollbar-thumb {
        visibility: hidden;
    }

    .message-container {
        width: 300px;
        top: 16em;
        left: 2em;
    }
}